$color-sep: #bfccd6;

body {
  user-select: none;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.app-header {
  flex-grow: 0;
  flex-shrink: 0;
  background: #f5f8fa;
  padding: 10px;
  border-bottom: 1px solid #e1e8ed;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.app-main {
  flex: 1 1;
  overflow-y: scroll;
}

.dashboard {
  &-section-header {
    border-top: 2px solid #394b59;
    border-bottom: 2px solid #394b59;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ebf1f5;
    padding: 5px 15px;
    margin-bottom: 5px;
    z-index: 100;
    .el-caption {
      font-size: 1.2em;
      font-weight: bold;
      margin-right: 10px;
    }
  }
}

.group-editor {
  display: inline-block;
  vertical-align: top;

  &-group {
    $height: 20px;
    display: inline-block;
    line-height: $height;
    font-size: 12px;
    .el-color {
      display: inline-block;
      height: $height;
      width: $height;
      vertical-align: top;
      margin: 0 5px;
      border-radius: 5px;
      box-sizing: border-box;
    }
    .el-filter {
      display: inline-block;
      line-height: $height;
    }
    margin-right: 5px;
  }
}

.dashboard-visualization {
  border-top: 1px solid #e1e8ed;
  border-left: 5px solid #bfccd6;
  margin-bottom: 5px;
  &-error {
    border-top: 1px solid #e1e8ed;
    padding: 20px;
  }
  &-header {
    .el-right {
      float: right;
    }
    .el-row {
      &:not(:first-child) {
        margin-top: 10px;
      }
      & > label {
        margin-right: 10px;
      }
    }
    .el-small-controls {
      display: flex;
      flex-direction: row;
      align-items: center;
      .el-sep {
        display: inline-block;
        width: 5px;
        height: 20px;
        &-visible {
          box-sizing: content-box;
          width: 0;
          margin-left: 10px;
          border-right: 1px solid $color-sep;
          margin-right: 5px;
        }
      }
      .el-label {
        padding: 0 5px;
      }
      .el-slider {
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
      }
      .bp3-switch {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    background: #f5f8fa;
    padding: 5px 15px;
  }
  &-add {
    border-top: 1px dashed #e1e8ed;
    border-bottom: 1px dashed #e1e8ed;
    margin-bottom: 5px;
  }
  .el-toolbar {
    padding: 5px;
    margin-bottom: 5px;
  }
}

.factor-controls {
  label,
  .group-editor {
    display: inline;
  }
  .el-label {
    display: inline-block;
    vertical-align: baseline;
    padding-right: 5px;
  }
  .el-sep {
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 1px;
    line-height: 26px;
    height: 26px;
    margin-top: 2px;
    margin-bottom: 2px;
    background: $color-sep;
  }
}

.filter-editor {
  display: flex;
  flex-direction: row;
  & > div {
    margin-right: 20px;
  }
}
